.container{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/images/4.jpg');
    /* background-image: url('../../assets/images/7.jfif'); */
    background-size: cover;
}

.header{
    display: flex;
    padding-left: 15%;
}
.headerLogo{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    margin-left: 20px;
    /* color: white; */
    color: aqua;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
